<ion-header>
  <ion-toolbar>
    <ion-title>Relatório</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let conta of listaContas">
        <ion-label>
          <h1>{{conta.tipo}}</h1>
          <h2>{{conta.parceiro}}</h2>
          <p>{{conta.descricao}}</p>
          <h3>R$ {{conta.valor}}</h3>
        </ion-label>
        <ion-icon slot="end"  name="cash-outline" ></ion-icon>
        
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
<ion-col>
  <ion-button [routerLink]="['/home']" fill="clear" color="medium">Voltar</ion-button>
</ion-col>
  </ion-row>
 
</ion-footer>