<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças na áreas! (Clique aqui para Sair)
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <section>    
    <ion-button expand="block" [routerLink]="['/contas/cadastro']" >Continuar Cadastrando Contas</ion-button>
  </section><br>
  <section>    
    <ion-button expand="block" color="danger" [routerLink]="['/contas/pagar']" >Visualizar Contas a Pagar</ion-button>
  </section><br>
  <section>    
    <ion-button expand="block"  color="success"   [routerLink]="['/contas/receber']"   >Visualizar Contas a Receber</ion-button>
  </section><br>
  <section>    
    <ion-button expand="block" color="warning" [routerLink]="['/contas/relatorio']" >Visualizar Lista Total de Contas</ion-button>
  </section><br>
  </ion-content>
